@charset "utf-8";
html{ height:100%;}
body { @extend %fontPFR; height:100%;  line-height:1.5714; background-color:#fff; font-size:$BodySize; }
input:-webkit-autofill{ -webkit-text-fill-color:#fff!important; -webkit-box-shadow: 0 0 0px 1000px #2d3a4b inset !important; }
img{ max-width:100%; }
.justify{@extend %justify;}
.clearfix{@extend %clearfix;}
.fleft{ float: left; }
.fright{ float: right; }
.inline{ display:inline-block;}
.ismiddle{ display:inline-block; vertical-align: middle;}
.hide,.hidden{ display:none;}
.hand{ cursor: pointer; }

::-webkit-scrollbar {width:6px; height: 10px; }
::-webkit-scrollbar-button {display: none; }
::-webkit-scrollbar-track {background: #f6f6f6; }
::-webkit-scrollbar-track-piece {background: #f6f6f6; }
::-webkit-scrollbar-thumb {background: #ddd; border-radius: 4px; }
::-webkit-scrollbar-corner {background: #f6f6f6; }
::-webkit-resizer {background: #ddd; }

#app,#container{ height:100% ;width:100%; position:relative;  }

#sidebar{ position:fixed; z-index:99; left:0; top:0; height:100%; width:180px; background-color:rgb(48, 65, 86); @extend %trslow; overflow-x:hidden;
    .logo{ text-align:center; padding:10px; }
    .logo_b{ display: inline-block;  width:110px;}
    .logo_s{ display: none; width:30px;}
    &.min{ width:50px; overflow: hidden;
        .logo_b{ display: none;}
        .logo_s{ display: inline-block;}
    }
}

#appRight{ margin-left:180px; height:100%; @extend %trslow;
    &.big{ margin-left: 50px;}
}

#navbar{ height:50px; line-height:50px; border-bottom:1px solid #e6e6e6; padding:0 10px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04); border-bottom: 1px solid #d8dce5;
    .fa{ font-size:22px; color:#777; margin:0 10px;}
}

#main{ padding:30px 20px; background-color:#f0f2f5; min-height:95%; }

.wrap{ background-color: #2d3a4b; position: relative; width:100%; height:100%;  }

.login{ width:500px; position: absolute; left:0; right:0;  margin:80px auto; padding:20px 30px;
    color:#fff;
    .title-container{ text-align: center;  margin-bottom:40px; position: relative;
        h2{ color: #eee; font-size:26px;}
        .el-dropdown{  position:absolute; right:10px; top:15px; 
            .fa-globe { font-size:22px; color:#fff;}
        }
    }
    .el-form-item {border: 1px solid rgba(255, 255, 255, 0.1); background: rgba(0, 0, 0, 0.1); border-radius: 5px; color: #454545;
        input{background: transparent; border: 0px; -webkit-appearance: none; border-radius: 0px; color: #eee; height: 47px; width: 85%; padding-left:40px; color:#fff;}
        .show-pwd{ position: absolute; right:15px; top:14px; font-size:16px; color:#fff;}
        .fa-user-o{ font-size:14px;  line-height:47px; width:32px;}
        .fa-lock{ font-size:18px; line-height:47px; width:32px;}
    }
    .el-button { width:100%; margin-top: 30px;}
    .el-form-item__error{ margin-top:5px;}
}